html, body {
    height: 100%; 
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 320px;
}

.testimonials {
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    max-width: 600px;
    width: 100%; /* Ensure it takes the full width */
    box-sizing: border-box; /* Include padding in width calculation */
}

blockquote {
    font-style: italic;
    margin: 10px 0;
}

h1, h2, p {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    color: #7f8c8d;
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.3em;
}

h2 {
    color: #34495e;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

li {
    margin-bottom: 10px;
    width: 100%; 
    text-align: left; 
}

.project_link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.project_link:hover {
    background-color: #1abc9c;
}

.argomento {
    text-align: left; 
    width: 100%; 
    margin: 0; 
    margin-left: 10px;
    padding: 0 10px; 
    font-size: medium;
}

.argomento h2 {
    margin-top: 50px;
    margin-left: 5px;
}

.contact-bar {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0; 
    position: relative;
    bottom: 0;
    width: 100%; 
    margin-top: auto; 
    box-sizing: border-box; /
}

.contact-bar a {
    color: #1abc9c;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
        justify-content: flex-start; 
        align-items: stretch;
    }

    .container {
        padding: 20px;
        margin-top: 0;
        box-shadow: none;
        width: 100%;
    }

    h1 {
        font-size: 2.2em; 
        margin-bottom: 15px;
    }

    p {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 1.2em;
    }

    .project_link {
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
        justify-content: flex-start;
        align-items: stretch;
        text-align: left;
    }

    .container {
        padding: 15px;
        width: 100%;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1em;
    }

    a {
        font-size: 1em;
        padding: 10px;
    }
}
